* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

main {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 200px;
  height: 200px;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  transition: transform 0.5s ease-in;
}

.section p {
  position: absolute;
  top: 85px;
  left: 85px;
}

.box1 {
  transform-origin: top left;
  background-color: red;
  top: 0px;
  left: 0px;
}

.section:hover .box1 {
  transform: rotateZ(90deg);
}

.box2 {
  transform-origin: top right;
  background-color: green;
  top: 0px;
  left: 100px;
}

.section:hover .box2 {
  transform: rotateZ(-90deg);
}

.box3 {
  transform-origin: bottom left;
  background-color: yellow;
  top: 100px;
  left: 0px;
}

.section:hover .box3 {
  transform: rotateZ(-90deg);
}

.box4 {
  transform-origin: bottom right;
  background-color: blue;
  top: 100px;
  left: 100px;
}

.section:hover .box4 {
  transform: rotateZ(90deg);
}

/* The element to apply the animation to */
.ani {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: red;
  animation: example 2s linear alternate infinite;
}

.spoke {
  width: 100px;
  height: 2px;
  border: 2px solid;
}

.spoke2 {
  transform: rotateZ(45deg);
}

@keyframes example {
  0% {
    transform: scale(1);
    left: 0px;
  }
  50% {
    transform: scale(0.5);
    left: 200px;
  }
  100% {
    transform: scale(1);
    left: 0px;
  }
}
