@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-red: #ea5353;
  --color-cyan: #34b8d5;
  --color-orange: #fcaf4a;
  --color-blue: #549ef2;
  --color-dark-blue: #4c4e61;
  --gray-blue: #a3a5ae;
  --bg-color: #eef9fc;
  --text-color: #8598a1;
  --heading-color: #404b50;
}

header,
footer {
  width: 100%;
  height: 80px;
  padding: 4rem 2.5rem;
  background-color: rgb(168, 168, 252);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham-menu {
  cursor: pointer;
}

.bars {
  width: 100px;
  height: 10px;
  background-color: black;
}

.logo {
  margin-right: 10px;
  font-size: 30px;
  color: navy;
}

.company {
  font-size: 3rem;
}

.nav {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  list-style: none;
  margin-left: 2rem;
}

.link {
  width: 50%;
  padding: .25rem .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.link:hover
.link:focus {
  color: black;
  background-color: white;
}

.footer-center p {
  font-size: clamp(1rem, 1.5vw, 1.75rem);
}

/* ########################### */
/*     Weather Widget          */
/* ########################### */


.weather-wrapper {
  width: clamp(100px, 40%, 250px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, .5);
  color: azure;
  padding: .5rem .75rem;
  border-radius: 10px 10px;
  position: sticky;
  float: right;
  top: 10px;
  right: 15px;
  z-index: 10;
}


.weather-wrapper p {
  font-size: .75rem;
  /* color: azure; */
}


.middle-wrapper {
  width: 70px;
  margin: 0 auto;
}


/* ########################### */
/*     FOUR CARD SECTION       */
/* ########################### */
.four-card-challenge {
  font-family: "Poppins", sans-serif;
  width: clamp(430px, 95%, 1700px);
  margin: 0 auto;
  padding-bottom: 5em;
  background-color: var(--color-light-gray);
}

.top-container {
  margin: 0 auto;
  padding: 5em 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.75em;
  color: var(--heading-color);
}

h1 span {
  font-weight: 200;
  color: var(--color-dark-blue);
}

.top-container > p {
  width: clamp(350px, 50%, 760px);
  margin: 0 auto;
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: center;
}

.options-container {
  width: clamp(350px, 80%, 1200px);
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  gap: 1;
}

.options {
  width: clamp(300px, 30vw, 375px);
}

.option {
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 8px var(--text-color);
  border-radius: 10px;
}

.left {
  border-top: 5px solid var(--color-cyan);
}

.center:nth-child(1) {
  border-top: 5px solid var(--color-red);
}

.center:nth-child(2) {
  border-top: 5px solid var(--color-orange);
}

.right {
  border-top: 5px solid var(--color-blue);
}

.option img {
  display: inline-block;
  margin-top: 1rem;
}

/* ########################### */
/*        FAQ ACCORDION        */
/* ########################### */
.card-challenge {
  margin: 4em 0;
  position: relative;
}

.card-top {
  height: 200px;
  background-color: black;
  background-image: url("/images/swirl-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bottom {
  height: 600px;
  background-color: rgb(247, 218, 235);
}

.card {
  padding: 1.5em 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(255, 245, 245);
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.3);
}

.inner-top {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inner-top img {
  margin-right: 0.75em;
  width: clamp(3em, 2vw, 4em);
}

.faq-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 0.5em;
}

.faq {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  width: clamp(3em, 2vw, 4em);
}

.toggle:hover,
.toggle:focus {
  cursor: pointer;
}

.minus {
  display: none;
}

.faq-question {
  width: 75%;
  font-size: clamp(1.05rem, 2vw, 1.5rem);
  font-weight: bold;
}

.faq-answer {
  display: none;
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.45rem;
  color: rgb(157, 155, 155);
}

/* ########################### */
/*            FORM             */
/* ########################### */
form {
  width: 90%;
  margin: 2em auto;
  border: 2px solid black;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
}

label {
  display: block;
  font-size: clamp(0.75rem, 1vw, 2rem);
}

#submit {
  padding: 0.5em 0.75em;
  width: clamp(6rem, 5vw, 10rem);
  height: clamp(2rem, 2vw, 4rem);
}

/* ########################### */
/*          FOOOTER            */
/* ########################### */
footer {
  font-size: 1.15rem;
}

footer a i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

/* ########################### */
/*        MEDIA QUERIES        */
/* ########################### */
@media (max-width: 1400px) {
  .options-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1020px) {
  header {
    position: relative;
  }

  #menu-open {
    display: inline-block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    background-color: rgba(256, 256, 256, 1);
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    /* transform: translateX(-100%);
    transition: transform 500ms; */
  }

  .active {
    display: none;
  }
  
  .item {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
  }

  .link {
    display: inline-block;
    border-radius: 0;
    width: 50%;
    padding: 1rem 0;
    color: black;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  }

  .link:hover {
    color: white;
    background-color: rgba(0, 0, 0, .6);
  }

}
